<%= tinymce_assets %>
<script type="text/javascript" src="/assets/tinymce.js"></script>

<%= form_for @question, :url => keeper_politician_questions_path(@keeper.id, @subject, @question), html: { class: 'well' } do |f| %>

  <% if @question.errors.any? %>
    <div class="error_messages">
      <div class="alert alert-error">
        <% if @question.errors.include?(:count) %>
          <strong>Dosáhl(a) jste maximálního možného počtu otázek pro dané volby.</strong>
        <% else %>
          <strong>Formulář byl vyplněn chybně. Opravte prosím následující chyby:</strong>
        <% end %>            
      </div>      
    </div>
  <% end %>

  <fieldset><legend>Vytvořit otázku</legend>
    <div class="field">
      <%= f.label :title, 'Záhlaví *' %>
      <%= f.text_area :title, rows: 3, cols: 220, id: 'question-head' %>
      <span class="fieldWithErrors"><%= @question.errors[:title].first %></span>
    </div>  

    <div class="field">
      <%= f.label :content, 'Otázka *' %>
      <%= f.text_area :content, :class => 'tinymce', :rows => 40, :cols => 120 %>
      <%= tinymce %>
      <span class="fieldWithErrors"><%= @question.errors[:content].first %></span>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Vytvořit', class: 'btn btn-primary' %>
  </div>
<% end %>