<%= tinymce_assets %>
<script type="text/javascript" src="/assets/tinymce.js"></script>

<%= form_for @question, :url => keeper_politician_questions_path(@keeper.id, @subject, @question) do |f| %>
  <div class="field">
    <%= f.label :title, 'Záhlaví' %>
    <%= f.text_area :title, :rows => 3, :cols => 220 %>
  </div>

  <div class="field">
    <%= f.label :content, 'Otázka' %>
    <%= f.text_area :content, :class => 'tinymce', :rows => 40, :cols => 120 %>
    <%= tinymce %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>