<%= form_tag sessions_path, :class => 'well', :id => 'loginForm' do %>
  <legend>Přihlášení</legend>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :autofocus => :autofocus %>
  </div>

  <div class="field">
    <%= label_tag :password, 'Heslo' %>
    <%= password_field_tag :password, params[:password] %>
  </div>

  <span class="help-block ">
    <a href="#">Zapomněli ste své heslo?</a> | 
    <%= link_to 'Registrovat se', main_app.new_citizen_path %>
  </span>

  <div class="actions">
    <%= submit_tag "Přihlásit se", :class => 'btn btn-primary' %>
  </div>
<% end %>