<h1><%= @question.title %></h1>

<%= form_for @citizens_question do |f| %>
  <%= f.hidden_field :citizen_id %>
  <%= f.hidden_field :question_id %>

  <div class="field">
    <%= f.label :hours, 'Hodiny' %>
    <%= f.number_field :hours %>
  </div>  

  <div class="actions">
    <%= f.submit, 'Vytvořit' %>
  </div>
<% end %>