<div class="row">
  <div class="span9">
    <h1><%= @question.title %></h1>
  </div>
</div>

<div class="row">
  <div class="span4">
    <%= form_for @citizens_question, html: { class: 'well' } do |f| %>
      <% if @citizens_question.errors.any? %>
        <div class="error_messages">
          <div class="alert alert-error">
            <strong>Formulář byl vyplněn chybně. Opravte prosím následujíci chyby:</strong>
          </div>      
        </div>
      <% end %>
      <%= f.hidden_field :citizen_id %>
      <%= f.hidden_field :question_id %>

      <div class="field">
        <%= f.label :hours, 'Kolik hodin chcete řešení otázky věnovat?' %> 
        <%= f.text_field :hours, value: 0 %>
        <span class="fieldWithErrors"><%= @citizens_question.errors[:hours].first %></span>
      </div>

      <div class="price">
        Cena: <span id="price">0.00</span> Kč
      </div>

      <div class="actions">
        <%= f.submit 'Uhradit příspěvek', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>

  <div class="span5">
    <h4>Částky za přislíbené hodiny</h4>
    <table>
      <tr>
        <th>1 - 3 hodiny</th>
        <td>bez příspěvku</td>
      </tr>
      <tr>
        <th>4 - 10 hodin</th>
        <td>minimálni rovná částka 50.00 Kč</td>
      </tr>
      <tr>
        <th>11 a více hodin</th>
        <td>5 Kč za hodinu</td>
      </tr>
    </table>
  </div>
</div>