<h2>Přihlasovací údaje</h2>
<div class="field">
  <%= f.label :email, 'Email *' %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :password, 'Heslo *' %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation, 'Potvrzení hesla *' %>
  <%= f.password_field :password_confirmation %>
</div>