<%= form_for @keeper, html: { class: 'well' } do |f| %>
  <fieldset>
    <legend>Váš účet</legend>    

    <div class="field">
      <%= f.label :email, 'Email' %>
      <%= f.text_field :email, autofocus: :autofocus %>
    </div>

    <span class="help-block"><%= link_to 'Zmenit heslo', '/under-construction/' %></span>        
  </fieldset>

  <fieldset>
    <legend>Osobní údaje</legend>

    <div class="field">
      <%= f.label :firstname, 'Jméno' %>
      <%= f.text_field :firstname %>
    </div>

    <div class="field">
      <%= f.label :lastname, 'Příjmení' %>
      <%= f.text_field :lastname %>
    </div>

    <div class="field">
      <%= f.label :phone, 'Telefón' %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :street, 'Ulice' %>
      <%= f.text_field :street %>
    </div>

    <div class="field">
      <%= f.label :street_number, 'Číslo' %>
      <%= f.number_field :street_number %>
    </div>

    <div class="field">
      <%= f.label :postal_code, 'PSČ' %>
      <%= f.text_field :postal_code %>
    </div>

    <div class="field">
      <%= f.label :city, 'Město' %>
      <%= f.text_field :city %>
    </div>    
  </fieldset>

  <div class="actions">
    <%= f.submit 'Upravit', class: 'btn btn-primary' %>
  </div>  
<% end %>