<section id="stats">

	<table>		
		<tbody>
			<tr>
				<th>Otázek celkem</th>
				<td><%= @stats.questions_count %></td>
			</tr>

			<tr>
				<th>Politiků celkem</th>
				<td><%= @stats.politicians_count %></td>
			</tr>

			<tr>
				<th>Voličů celkem</th>
				<td><%= @stats.citizens_count %></td>
			</tr>

			<tr>
				<th>Žen</th>
				<td><%= @stats.citizens_women_count %></td>
			</tr>

			<tr>
				<th>Mužů</th>
				<td><%= @stats.citizens_men_count %></td>
			</tr>

			<tr>
				<th>Průměrný věk voličů</th>
				<td><%= @stats.citizens_average_age %></td>
			</tr>

			<tr>
				<th>Přislíbených hodin</th>
				<td><%= @stats.promised_workhours_sum %></td>
			</tr>

			<tr>
				<th>% zde aktivních k počtu právopl. voličů (8 415 892 k 1.9. 2013)</th>
				<td><%= @stats.percent_of_citizens %> %</td>
			</tr>
		</tbody>
	</table>

	<hr>

	<table>		
		<tbody>
			<tr>
				<th>Počet týmů</th>
				<td><%= @stats.team_count %></td>
			</tr>

			<tr>
				<th>Počet otázek bez týmů</th>
				<td><%= @stats.questions_without_team_count %></td>
			</tr>

			<tr>
				<th>Nejaktivnější okres</th>				
				<% if !@stats.county_with_most_citizens.nil? %>
					<% county = @stats.county_with_most_citizens %>
					<td><%= county[:name] %> | <%= county[:citizens_count] %> voličů</td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>

			<tr>
				<th>Odpracovaných hodin</th>
				<td><%= @stats.done_workhours_sum %></td>
			</tr>

			<tr>
				<th>Odchody z týmů</th>
				<td><%= @stats.count_team_exits %></td>
			</tr>			

			<tr>
				<th>Otázka s největším počtem odchodů</th>								
				<% if !@stats.question_with_highest_exit_rate.nil? %>
					<% exit = @stats.question_with_highest_exit_rate %>
					<td><%= exit[:question].title %> | <%= exit[:count] %> odchodů</td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>

			<tr>
				<th>Počet publikovaných řešení</th>				
				<td> - </td>
			</tr>
		</tbody>
	</table>

	<hr>

	<table>		
		<tbody>
			<tr>
				<th>Stav fondu pro odměny nejaktivnějším voličům</th>
				<td><%= @stats.reward_fond_amount %> Kč</td>
			</tr>

			<tr>
				<th>Adepti na získání odměny z fondu</th>
				<% if !@stats.adepts_for_reward.nil? %>
					<% adepts = @stats.adepts_for_reward %>
					<td><%= adepts[:citizen].email %> | <%= adepts[:hours] %> hodin(a)</td>
				<% else %>
					<td> - </td>
				<% end %>
			</tr>
		</tbody>
	</table>