<% if @questions.any? %>
    <section id="questions-list">    
        <div id="carousel">
        <% @questions.each do |question| %>
            <div class="carousel-item">
                <%= image_tag 'question_mark.jpg' %>
                <div class="carousel-question-headline">
                    <h5><a href="<%= main_app.question_path(question) %>"><%= truncate(question.title, length: 150, separator: ' ') %></a></h5>
                </div>
                
                <div class="carousel-question-links">                                  
                    <a href="<%= main_app.question_path(question) %>" class="pull-left"><span class="badge badge-info">Zobrazit otázku</span></a>                                            
                    <a href="/solve-question/<%= question.id %>/" class="pull-right"><span class="badge badge-success">Řešit otázku</span></a>                                            
                </div>
            </div>        
        <% end %>
        </div>
            
        <a class="carousel-control left" href="#" id="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#" id="next">&rsaquo;</a>    
    </section>
<% end %>                            