<!DOCTYPE html>
    <%= render '/refinery/html_tag' %>
    <% site_bar = render('/refinery/site_bar', :head => true) -%>  
    <%= render 'refinery/head' %>
    
    <body>
    
        <%= site_bar -%>
        <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

        <%= render 'refinery/menu' %>

        <div class="container" id="wrapper">
            
            <header>
              <div class="container" id="header">
                <div class="row">
                  <div class="span12"> 
                    <%= link_to(image_tag('logo.png', width: '230', height: '125', alt: 'Otázky pro ČR logo'), refinery.root_path) %>                                            
                  </div>                
                </div>
              </div>
            </header>

            <% if flash.any? %>
                <section id="flash-messages">
                    <div class="row">
                        <div class="span12">
                            <% flash.each do |name, msg| %>
                                <div class="alert alert-<%= name %>">
                                    <a class="close" data-dismiss="alert" href="#">×</a>
                                    <strong><%= msg %></strong>
                                </div>        
                            <% end %>
                        </div>
                    </div>
                </section>
            <% end %>

            <section>
                <div class="container" id="holder">                    
                    <div class="row">

                        <div class="span3" id="left-column">                        
                            <ul class="nav nav-list well">
                                <li class="nav-header">Typy voleb</li>
                                <li><a href="#">Prezidentské volby</a></li>
                                <li><a href="#">Volby do senátu</a></li>
                                <li><a href="#">Krajské volby</a></li>
                                <li class="divider"></li>

                                <li class="nav-header">Kandidáti</li>
                                <li><a href="#">Zuzana Roithová</a></li>
                                <li><a href="#">J. Dienstbier ml</a></li>
                                <li><a href="#">Klára Samková</a></li>
                                <li><a href="#">Martin Potůček</a></li>
                                <li><a href="#">Česká pirátská strana</a></li>
                                <li class="divider"></li>

                                <li class="nav-header">Statistiky</li>
                                <li><a href="#">Mapa</a></li>
                                <li><a href="#">Číselné statistiky</a></li>
                                <li class="divider"></li>

                                <li class="nav-header">Výsledky</li>
                                <li class="disabled"><a href="#">Zatím nejsou dostupné žádne výsledky</a></li>
                            </ul>
                        </div>

                        <div class="span9" id="right-column">
                            <section id="content">
                                
                                <% if request.fullpath == refinery.root_path %>
                                    <%= render 'layouts/questions' %>
                                <% end %>
                                
                                <section id="main-content">
                                    <% if @page %>
                                        <%= raw @page.content_for(:body) %>                                        
                                    <% else %>
                                        <%= yield %>
                                    <% end %>
                                </section>
                            </section>
                        </div>

                    </div>    
                </div>
            </section>                  
        </div>  

        <footer>
            <%= render '/refinery/footer' -%>          
        </footer>

        <%= render '/refinery/javascripts' %>
    </body>
</html>